* {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}

html,
body {
    height: 100%;
}

:root {
    --color1: rgb(25, 25, 25);
    --color2: rgb(255, 176, 1);
    --color3: rgb(255, 255, 255);
    --color4: rgb(35, 35, 35);
    --color5: rgb(60, 60, 60);
}

header {
    display: flex;
    height: auto;
    background-color: var(--color1);
    padding: 15px 5%;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.logo {
    width: 75px;
    height: auto;
}

.titulo {
    background-color: transparent;
}

ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
}

li {
    display: inline;
}

.nav-items {
    padding-bottom: 5px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: var(--color2);
    font-size: 1.3rem;
    border-bottom: 2px solid var(--color1);
}

.nav-items:hover {
    transition: 0.5s;
    border-color: var(--color2);
}

.nav-items.active {
    border-color: var(--color2);
}

.vinculo {
    border: 1px solid transparent;
    border-radius: 50px;
}

.boton {
    margin-left: auto;
}

.perfil {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.principal {
    width: 100%;
}

.slider {
    overflow: hidden;
}

.sliderInterno {
    width: 300vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: 1s ease-in-out;
}

.sliderInterno img {
    height: auto;
    display: block;
    width: 100vw;
    aspect-ratio: 16/9;
}

.slide {
    background-color: var(--color4);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    z-index: 10;
    top: 50%;
    border: none;
}

#sliderIzquierda {
    left: 3%;
}

#sliderDerecha {
    right: 3%;
}

.flecha {
    color: var(--color3);
    font-size: 30px;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--color1);
    justify-content: space-around;
}

.flink {
    color: var(--color3);
    padding-top: 30px;
}

footer img {
    padding-top: 5px;
}

.vinculo-login {
    text-align: center;
    margin-top: 20px;
}

section {
    margin-top: 105px;
}