html,
body {
    height: auto;
    width: 100;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.principalResena {
    min-height: 85vh;
    display: flex;
    width: 100vw;
    align-items: flex-start;
    height: auto;
    overflow: visible;
    align-items: stretch;
}

.filtros {
    width: 20%;
    background-color: var(--color4);
    box-shadow: 1px 0px 5px var(--color4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.reseñas {
    background-color: var(--color5);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-y: visible;
}

.reseñas {
    height: auto;
    width: 80%;
    background-color: var(--color5);
}

.boton_reseña {
    height: 85px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
}