html,
body {
    height: auto;
    width: 100;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.principalcarta {
    min-height: 85vh;
    display: flex;
    width: 100vw;
    align-items: flex-start;
    height: auto;
    overflow: visible;
    align-items: stretch;
}

.filtros {
    width: 20%;
    background-color: var(--color4);
    box-shadow: 1px 0px 5px var(--color4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.productos {
    background-color: var(--color5);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-y: visible;
}

#modal-product-content {
    display: flex !important;
    flex-direction: row !important;
}

#modal-product-image img {
    max-height: 70vh;
    object-fit: cover;
    margin: 10px;
}

#modal-product-description {
    margin: 10px;
    width: 50%;
}

#offcanvasCarrito {
    z-index: 99999999;
    width: 33vw !important;
    max-width: 500px;
}

.multiline-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Número de líneas a mostrar */
}

.img-fixed {
    width: auto;
    height: 250px;
    object-fit: cover;
}